page-aplicacion {
    .container{
        display: flex;
    }
    .b01{
        padding: 17%;
        align-items: stretch;
        background-image: url("../assets/img/01.png");
        background-position: center;
        background-repeat: no-repeat;
        background-color: white;
    }
    .b02{
        padding: 17%;
        align-items: stretch;
        background-image: url("../assets/img/02.png");
        background-position: center;
        background-repeat: no-repeat;
        background-color: white;
    }
    .b03{
        padding: 17%;
        align-items: stretch;
        background-image: url("../assets/img/03.png");
        background-position: center;
        background-repeat: no-repeat;
        background-color: white;
    }
    .b04{
        padding: 17%;
        align-items: stretch;
        background-image: url("../assets/img/04.png");
        background-position: center;
        background-repeat: no-repeat;
        background-color: white;
    }
    .b05{
        padding: 17%;
        align-items: stretch;
        background-image: url("../assets/img/05.png");
        background-position: center;
        background-repeat: no-repeat;
        background-color: white;
    }
    //////////////////////////////////////////////////////////////
    .b11{
        padding: 17%;
        align-items: stretch;
        background-image: url("../assets/img/11.png");
        background-position: center;
        background-repeat: no-repeat;
        background-color: white;
    }
    .b12{
        padding: 17%;
        align-items: stretch;
        background-image: url("../assets/img/12.png");
        background-position: center;
        background-repeat: no-repeat;
        background-color: white;
    }
    .b13{
        padding: 17%;
        align-items: stretch;
        background-image: url("../assets/img/13.png");
        background-position: center;
        background-repeat: no-repeat;
        background-color: white;
    }
    .b14{
        padding: 17%;
        align-items: stretch;
        background-image: url("../assets/img/14.png");
        background-position: center;
        background-repeat: no-repeat;
        background-color: white;
    }
    .b15{
        padding: 17%;
        align-items: stretch;
        background-image: url("../assets/img/15.png");
        background-position: center;
        background-repeat: no-repeat;
        background-color: white;
    }
     //////////////////////////////////////////////////////////////
    .b21{
        padding: 17%;
        align-items: stretch;
        background-image: url("../assets/img/21.png");
        background-position: center;
        background-repeat: no-repeat;
        background-color: white;
    }
    .b22{
        padding: 17%;
        align-items: stretch;
        background-image: url("../assets/img/22.png");
        background-position: center;
        background-repeat: no-repeat;
        background-color: white;
    }
    .b23{
        padding: 17%;
        align-items: stretch;
        background-image: url("../assets/img/23.png");
        background-position: center;
        background-repeat: no-repeat;
        background-color: white;
    }
    .b24{
        padding: 17%;
        align-items: stretch;
        background-image: url("../assets/img/24.png");
        background-position: center;
        background-repeat: no-repeat;
        background-color: white;
    }
    .b25{
        padding: 17%;
        align-items: stretch;
        background-image: url("../assets/img/25.png");
        background-position: center;
        background-repeat: no-repeat;
        background-color: white;
    }
}
