page-home {
    .fondo{
        background-image: url("../assets/img/fondo.jpg");
        background-position: center;
      }
      .fondoverde{
          background-color: #7CCF9C;
      }
      .boton1{
        background-color: #B12F2F;
            margin-left: 143px;
            margin-top: 110px;
          
      }
      .boton2{
        background-color: #555696;
         margin-left: 220px;
         margin-top: 215px;
       
   }
   .boton3{
    background-color: #559655;
     margin-left: 15px;
     margin-top: 135px;
   }
      .boton4{
    background-color: #875596;
     margin-left: 210px;
     margin-top: 220px;
   }
}
